In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('mockdata.csv')
df

,Title,Email Id,Got job,Got Job,Got Job Comments,Got Job Date,List,Mob No.,Mock Rating,nid,Req count,Requirements,Total Scheduled
0,Saurav Mishra,"sauravm62@gmail.com, mishrasaurav399@gmail.com",Got job from outside,NaN,NaN,02/2019,Placement Pool,"9556977388, 9148378034",Subject: Manual TestingRatings: 1Batch Code: Q...,108106,59.0,"Maveric Systems-Testing-Thursday, March 22, 20...",28.0
1,Sujatha KR,sujusrikanth@gmail.com,Got job from outside,NaN,NaN,05/2016,NaN,9008237927,Subject: Core JavaRatings: StarBatch Code: BCD...,108892,11.0,Test Yantra(Client)-Automation Testing(Seleniu...,2.0
2,Shwetha G S,shwethamanjunath1822@gmail.com,NaN,NaN,NaN,NaN,NaN,"9743828007, 8310195269",Subject: DatabaseRatings: StarBatch Code: QCDM...,78307,NaN,NaN,NaN
3,Bhavana M,"bhavana.aardhya@gmail.com, bhavana.wardhya@gm...",Blacklisted,NaN,NaN,06/2018,NaN,9481425574,Subject: DatabaseRatings: StarBatch Code: QCDM...,81209,19.0,"Maveric Systems-Testing-Thursday, March 22, 20...",9.0
4,Arpitha D C,arpitha@gmail.com,NaN,NaN,NaN,NaN,NaN,"8904820642, 8310520415",NaN,85662,4.0,"IBM-Generic-Monday, July 30, 2018 - 16:00, IBM...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,Suraj Kumar N,surajkumarn28@gmail.com,NaN,NaN,NaN,03/2019,NaN,7381393372,NaN,129808,NaN,NaN,NaN
3857,Satwik K S,satwik.smg@gmail.com,Got job from QSP/JSP,NaN,NaN,03/2019,NaN,9513868091,NaN,129840,NaN,NaN,NaN
3858,Mohnish Kr Jha,mohnishjha9839@gmail.com,Got job from QSP/JSP,NaN,NaN,03/2019,NaN,9632503774,NaN,130060,NaN,NaN,NaN
3859,B Dilli Babu,dillireddy245@gmail.com,Got job from QSP/JSP,NaN,NaN,03/2019,NaN,9652654784,NaN,130065,NaN,NaN,NaN
3860,C Vijay Kumar,vijayreddy7284@gmail.com,Got job from QSP/JSP,NaN,NaN,03/2019,NaN,9640124102,NaN,130067,NaN,NaN,NaN

In [3]:
df.isnull().sum()

Title                  0
Email Id               0
Got job             2451
Got Job             3861
Got Job Comments    3760
Got Job Date        2782
List                3573
Mob No.                0
Mock Rating         1994
nid                    0
Req count           1758
Requirements        1758
Total Scheduled     2397
dtype: int64